<div id="spree-header" class="navbar-fixed-top">
  <header id="header" data-hook>
    <div class="container">
      <div class="home-head-left row col-xs-3">
        <figure id="logo" data-hook>
          <%= logo %>
        </figure>
      </div>
      <div class="home-head-right row col-xs-9">
        <div class="home-head-social row">
          <%= render partial: 'spree/shared/social_bar' %>
        </div>
        <div class="home-head-nav row">
          <%= render partial: 'spree/shared/nav_bar' %>
        </div>
      </div>

    </div>
  </header>
</div>
