<nav class="navbar" id="top-social-bar">
  <ul id="social-bar" class="nav navbar-nav navbar-right" data-hook>
    <li>
      <p>Tìm chúng tôi trên </p>
    </li>
    <li>
      <i class="fa fa-facebook social-bar-icon"></i>
    </li>
    <li>
      <i class="fa fa-instagram social-bar-icon"></i>
    </li>
  </ul>
</nav>