<%# @body_id = 'home-page' %>
<%# content_for :sidebar do %>
<!--  <div data-hook="homepage_sidebar_navigation">-->
<%#= render partial: 'spree/shared/taxonomies' %>
<!--  </div>-->
<%# end %>

<!--<div data-hook="homepage_products">-->
<%# cache(cache_key_for_products) do %>
<%#= render partial: 'spree/shared/products', locals: { products: @products } %>
<%# end %>
<!--</div>-->

<div class="home-body container-fluid">
  <div class="home-banner-carousel row">
    <img src="https://cdn.sz.bike/wp-content/uploads/sites/2/2016/04/Bikers-Accessories_Honda-CB400X_2.jpg">
  </div>
  <div class="home-product-cate-wrapper row">
    <div class="home-product-cate-carousel">

    </div>
    <div class="home-product-cat-info">
      <h3 class="home-product-cat-info-title">
        TITLE
      </h3>
      <h4 class="home-product-cat-info-subtitle">
        Subtitle
      </h4>
      <p class="home-product-cat-info-body">
        Product category body sample
      </p>
      <button class="home-product-cat-info-view-more-btn">
        View more
      </button>

    </div>
  </div>
  <div class="home-events row">
    <div class="home-event-item">
      <div class="home-event-item-img">
        <img src="">
      </div>
      <div class="home-event-item-title">
        <h3>TITLE</h3>
      </div>
      <div class="home-event-item-description">
        <p>Description Samle</p>
      </div>
    </div>
    <div class="home-event-item">
      <div class="home-event-item-img">
        <img src="">
      </div>
      <div class="home-event-item-title">
        <h3>TITLE</h3>
      </div>
      <div class="home-event-item-description">
        <p>Description Samle</p>
      </div>
    </div>
    <div class="home-event-item">
      <div class="home-event-item-img">
        <img src="">
      </div>
      <div class="home-event-item-title">
        <h3>TITLE</h3>
      </div>
      <div class="home-event-item-description">
        <p>Ahihihihih</p>
      </div>
    </div>
    <div class="home-event-item">
      <div class="home-event-item-img">
        <img src="">
      </div>
      <div class="home-event-item-title">
        <h3>TITLE</h3>
      </div>
      <div class="home-event-item-description">
        <p>Description Samle</p>
      </div>
    </div>

  </div>
  <div class="home-partners row">
    <h3 class="home-partners-title">
      <em>OUR PARTNER</em>
    </h3>
    <div class="home-partners-carousel">
      <div class="home-partner-item"></div>
      <div class="home-partner-item"></div>
      <div class="home-partner-item"></div>
      <div class="home-partner-item"></div>
      <div class="home-partner-item"></div>

    </div>
  </div>
  <div class="home-footer row">
    <div class="home-footer-company-info-wrapper">
      <h3>Contact</h3>
      <div class="home-footer-company-info-address">

      </div>
      <div id="map" class="home-footer-company-info-map">
      </div>
    </div>
    <div class="home-footer-coop-form">
      <h3>home-footer-coop-form</h3>
    </div>
  </div>
</div>